.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImageBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureImage{
  width: 200px;
  height: 200px;
  self-item: center;
}

.title{
  font-weight: bold;
  font-size: 20px;
}